<h1>Pilih Jenjang Matematika</h1>
<div class="menu-container">
    <a href="/quiz/sd" class="card">Matematika SD</a>
    <a href="/quiz/smp" class="card">Matematika SMP</a>
    <a href="/quiz/sma" class="card">Matematika SMA</a>
    <a href="/quiz/lanjutan" class="card">Matematika Lanjutan</a>
</div>